@import 'common.scss';
//html,body{
//  height: 10000px;
//}
#head{
        
       background: url(../img/1.jpg) no-repeat center;
        min-width: 1200px;
        max-width: 100%;
        display: block;
        min-height: 80px;
        position: relative;
        img{
            position: absolute;
            right: 64px;
            top: 5px;
            cursor: pointer;
        }
    
}
#header{
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
    #header-bar{
    width: 1200px;
    height: 36px;
    background: #f1f1f1;
    
    margin: 0 auto;
    #head-left{
        position: relative;
        
        .hide{
                   width: 90px;
                   height: 140px;
                   z-index: 666;
                   position: absolute;
                   top: 36px;
                   left: -1px;
                   border: 1px solid #dfdfdf;
                   display: none;
                   border-top: 1px solid white;
                   a{
                       width: 90px;
                       height: 28px;
                       display: block;
                       img{
                           margin-left: 20px;
                       }
                       &:hover{
                           color: #EE4242;
                       }
                       
                   }
               }
               .hide2{
                   width: 96px;
                   height: 112px;
                   z-index: 666;
                   position: absolute;
                   top: 36px;
                   left: 91px;
                   border: 1px solid #dfdfdf;
                 display: none;
                   border-top: 1px solid white;
                   a{
                       width: 96px;
                       height: 28px;
                       display: block;
                       margin-left: 10px;
                       &:hover{
                           color: #EE4242;
                       }
                       
                   }
               }
        .someone{
                height: 36px;
                 width: 62px;
                 display: inline-block;
                float: left;
                margin-right: 30px;
           
                
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
            .someones{
                margin-right: 4px;
            }
        }
        
        .sometwo{
                height: 36px;
              width: 64px;
                   float: left;
                 display: inline-block;
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
        }
        
        a{
             font-size: 12px;
            color: #333333;
            line-height: 36px;
            i{
                color: #888888;
            }
        }
       
    }
     #head-right{
        float: right;
        position: relative;
        
        .fourhide{
            position: absolute;
            top: 36px;
            right: 56px;
            width: 92px;
            height: 28px;
            border: 1px solid #dfdfdf;
            border-top: 1px solid white;
            display: none;
            a{
                color: #333333;
                font-size: 12px;
                text-align: center;
                display: block;
                line-height: 28px;
            }
        }
        .fivehide{
            position: absolute;
            top: 36px;
            right:-21px;
            width: 92px;
            height: 28px;
            border: 1px solid #dfdfdf;
            border-top: 1px solid white;
            display: none;
            a{
                color: #333333;
                font-size: 12px;
                text-align: center;
                display: block;
                line-height: 28px;
            }
        }
        .threehide{
            z-index: 888;
            position: absolute;
            top: 37px;
            left: -23px;
            display: none;
            img{
                width: 122px;
                height: 138px;
            }
        }
        .somethree img{
            margin-right: 4px ;
            position: absolute;
            left: -15px;
            top: 10px;
        }
        .somethree{
            &:hover{
                color: #EE4242;
            }
        }
        .somesix{
            &:hover{
                color: #EE4242;
            }
        }
        .deng{
            color: #EE4242;
            &:hover{
                text-decoration: underline;
            }
        }
        .somefour{
                height: 36px;
                 width: 64px;
                 display: inline-block;
                 
                 
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
        }
        .somefive{
                 height: 36px;
                 width: 64px;
                 display: inline-block;
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
        }
        
        a{
             font-size: 12px;
            color: #333333;
             line-height: 36px;
             margin-right: 8px;
             i{
                color: #888888;
            }
        }
    }
}
}

#soso{
    width: 1200px;
    height: 76px;
    margin: 0 auto;
//  background: beige;
    margin-top: 50px;
    margin-bottom: 30px;
    .so1{
        float: left;
        width: 414px;
        height: 76px;
    }
    .so2{
        float: left;
        width: 660px;
        height: 76px;
        .so2_1{
            width: 510px;
            height: 40px;
            border: 2px solid #163672;
            position: relative;
            #so2input{
                width: 440px;
                height: 21px;
                vertical-align: bottom;
                outline: none;
                border: none;
                margin: 10px;
            }
            #so2input1{
                width: 50px;
                height: 40px;
                background: #163672;
                border: none;
                vertical-align: bottom;
                outline: none;
                margin-bottom: 1px;
            }
            img{
                position: absolute;
                top: 10px;
                right: 12px;
                cursor: pointer;
            }
        }
        .so2_2{
            a{
                font-size: 12px;
                color: #666;
                margin-right: 6px;
            }
            b{
                font-size: 12px;
                color: #666;
                margin-right: 4px;
                font-weight: normal;
            }
            .d1{
                color: #F35942;
                &:hover{
                    text-decoration: underline;
                }
            }
            .d2{
               
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .so3{
        float: left;
        width: 124px;
        line-height: 44px;
        background: #ECECEC;
        text-align: center;
        position: relative;
        i{
            font-size: 22px;
           
            margin-right: 16px;
            padding: 10px 10px;
            color: #333157;
            background: #fff;
            margin-left: -10px;
        }
        em{
            color: #666;
            font-size: 16px;
            width: 48px;
            height: 32px;
            font-style: normal;
        }
        b{
            position: absolute;
            top: -10px;
            left: 15px;
            display: block;
            padding: 4px;
            border-radius: 10px;
            line-height: 8px;
            color: #fff;
            background-color: #ee4242;
            font-size: 12px;
            font-weight: normal;
        }
    }
}
#navs{
    width: 100%;
    border-bottom: 2px solid #163672;
#nav{
    width: 1200px;
    height: 45px;
//  background: antiquewhite;
    margin: 0 auto;
    .nav_w{
        float: left;
        width: 160px;
        line-height: 45px;
        background: #163672;
        text-align: center;
        position: relative;
        &:hover .lie{
            display: block;
        }
        .lie{
            position: absolute;
            top: 47px;
            left: 0;
            width: 160px;
            height: 520px;
            background: rgba(22,54,114,.9);
            display: none;
            .mu{
                position: relative;
                .lie1{
                    width: 1000px;
                    height: 500px;
//                  background: bisque;
                    position: absolute;
                    top: 0;
                    left: 160px;
                    display: none;
                    .lieul{
                        width: 1000px;
                        height: 45px;
                        border-bottom: 1px dashed #dddddd;
                        .naifen{
                            font-size: 14px;
                            color: #333;
                            font-weight: 700;
                            margin: 0 8px;
                           &:hover{
                               color: #ed4242;
                           }
                        }
                        .duan{
                            font-size: 12px;
                            margin: 0 4px;
                            color: #333;
                            &:hover{
                               color: #ed4242;
                           }
                        }
                    .lie2{
                        float: left;
                        
                        
                    }
                    }
                    
                }
            }
            .shang{
              width: 160px;
                height: 40px;
                &:hover{
                    background: #ffffff;
                    box-shadow: -3px 0 2px #eaeaea,inset -3px 0 2px #eaeaea;
                }
                &:hover .shang1{
                    color: #333333;
                    
                }
                .shang1{
                    font-size: 14px;
                    color: #f2f2f2;
                    margin-left: -35px;
                }
                &:hover .lie1{
                    display: block;
                }
            }
            
            //2
            .mu2{
                position: relative;
                .lie12{
                    width: 1000px;
                    height: 500px;
//                  background: bisque;
                    position: absolute;
                    top: -40px;
                    left: 160px;
                    display: none;
                    .lieul2{
                        width: 1000px;
                        height: 45px;
                        border-bottom: 1px dashed #dddddd;
                        .naifen2{
                            font-size: 14px;
                            color: #333;
                            font-weight: 700;
                            margin: 0 8px;
                           &:hover{
                               color: #ed4242;
                           }
                        }
                        .duan2{
                            font-size: 12px;
                            margin: 0 4px;
                            color: #333;
                            &:hover{
                               color: #ed4242;
                           }
                        }
                    .lie22{
                        float: left;
                        
                        
                    }
                    }
                    
                }
            }
            .shang2{
              width: 160px;
                height: 40px;
                &:hover{
                    background: #ffffff;
                    box-shadow: -3px 0 2px #eaeaea,inset -3px 0 2px #eaeaea;
                }
                &:hover .shang12{
                    color: #333333;
                    
                }
                .shang12{
                    font-size: 14px;
                    color: #f2f2f2;
                    margin-left: -35px;
                }
                &:hover .lie12{
                    display: block;
                }
            }
            //
        }
        h3{
            font-size: 14px;
            font-weight: 500;
            color: #fff;
//          padding-left: 26px;
            i{
                margin-right: 10px;
            }
        }
    }
    .nav_q{
        float: left;
        height: 45px;
        .lifes{
            position: relative;
            &:hover .life{
                display: block;
            }
            .life{
                display: none;
                position: absolute;
                top: 45px;
                left: -18px;
                width: 120px;
                height: 135px;
                background: #fff;
                border: solid 1px #dfdfdf;
                z-index: 5555;
                a{
                    width: 120px;
                    height: 45px;
                    display: block;
                    color: #333;
                    font-size: 14px;
                    &:hover{
                        color: #ed4242;
                    }
                }
            }
        }
        
        #globals{
//          position: relative;
//          &:hover #global{
//              display: block;
//          }
            #global{
                display: none ;
                position: absolute;
                top: 45px;
                left: -10px;
                width: 108px;
                height: 368px;
                background: #fff;
                z-index: 5555;
                li{
                    width: 108px;
                    height: 46px;

                }
            }
        }
        .lili{
            float: left;
            text-align: center;
            width: 96px;
            height: 45px;
            line-height: 45px;
            position: relative;
            .aa{
                font-size: 14px;
                color: #333;
                display: block;

                   .hotimg{
                       position: absolute;
                       top: -5px;
                       left: 28px;
                   }
                   .hotimg2{
                       position: absolute;
                       top: -5px;
                       left: 30px;
                   }
                   .newimg{
                       position: absolute;
                       top: -5px;
                       left: 40px;
                   }
                   
                       &:hover{
                           color: #ee4242;
                       
                   }
                
            }
        }
    }
}
}
//select
.life{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    .life1:hover {
        color: #ff0000;
    }
    a{
        font-size: 12px;
        color: #333;
        position: relative;
        img{
            position: absolute;
            top: 1px;
            left: 0;
            display: inline-block;
            width: 17px;
            height: 15px;
        }
    }
}

.bigbox{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    .leftbox{
        width: 530px;
        height: 590px;
        float: left;
//      background: skyblue;
        #enlarge-box {
            position: relative;
            width: 500px;
            height: 450px;
          background: #fff;
            #large-box {
              display: none;
                position: absolute;
                top: 0;
                left: 600px;
                width: 365px;
                height: 365px;
                overflow: hidden;
                #large-img {
                  position: absolute;
                    width: 750px;
                    height: 750px;
                }
            }
            #middle-box  {
                img{
                    width: 100%;
                }
                
            }
            
            #shadow {
                position: absolute;
                left: -1000px;
                top: 0;
                width: 260px;
                height: 260px;
                background: #FEDE4F;
                opacity: .5;
                filter: alpha(opacity=50);
            }
            #small-box {
              margin-top: 10px;
              overflow: hidden;
                width: 300px;
                height: 64px;
                margin-left: 123px;
                 img{
                    float: left;
                    width: 60px;
                    height: 60px;
                    margin-left: 10px;
                  border: 2px solid #fff;
                }
                
            }
            #small-box .active {
                   border-color: red;
                }
            
        }
    }
    .rightbox{
        width: 670px;
        height: 590px;
        float: left;
       
        .rightsmall{
            width: 660px;
            height: 313px;
//           background: darkgray;
            .tit{
                width: 660px;
                height: 62px;
                p{
                    width: 45px;
                    height: 20px;
                    background: #ed4242;
                    color: #fff;
                    border-radius: 3px;
                    margin: 3px 0px;
                    font-size: 10px;
                    text-align: center;
                }
                h1{
                    font-size: 18px;
                }
            }
            .tit1{
                width: 660px;
//              height: 28px;
                line-height: 28px;
                p{
                    color: #616161;
                    font-size: 14px;
                    span{
                        color: #999;
                        margin-left: 50px;
                    }
                }
            }
            .tit2{
                width: 660px;
                line-height: 36px;
                p{
                    color: #888;;
                    font-size: 8px;
                    span{
                        color: #ed4242;
                        margin-left: 40px;
                        font-size: 24px;
                    }
                }
            }
            .tit3{
                width: 660px;
                height: 31px;
                line-height: 31px;
                position: relative;
                margin-top: 20px;
                p{
                    font-size: 8px;
                    color:#888 ;
                    float: left;
                }
                input{
                    width: 44px;
                    height: 27px;
                    float: left;
                    margin-left: 35px;
                    outline: none;
                    color: #666666;
                }
                span{
                    width: 18px;
                    line-height: 12px;
                    float: left;
                    border: 1px solid #a7a6ab;
                    text-align: center;
                    color: #888;
                }
                .jia{
                     position: absolute;
                    top: 0px;
                    left: 111px;
                }
                .jian{
                    position: absolute;
                    top: 16px;
                    left: 111px;
                }
                .ku{
                    margin-left: 65px;
                }
            }
            .tit4{
                width: 660px;
                height: 28px;
                line-height: 28px;
                margin-top: 15px;
                p{
                    color: #616161;
                    font-size: 14px;
                }
            }
            .tit5{
                width: 660px;
                height: 46px;
                line-height: 46px;
                margin-top: 20px;
                a{
                    float: left;
                }
                .titbuy{
                    width: 180px;
                    height: 50px;
                    background: #ffebeb;
                    border: 1px solid #ed4242;
                    text-align: center;
                    color: #ff6600;
                    position: relative;
                    margin-left: 60px;
                    img{
                        position: absolute;
                        top: 14px;
                        left: 35px;
                    }
                }
                .titadd{
                    width: 180px;
                    height: 50px;
                    background: #ed4242;
                    text-align: center;
                    color: #ffffff;
                    position: relative;
                    margin-left: 20px;
                    img{
                        position: absolute;
                        top: 15px;
                        left: 24px;
                    }
                    
                }
                .tit182{
                     width: 180px;
                    height: 50px;
                    margin-left:20px ;
                    text-align: center;
                    color: #333333;
                    position: relative;
                    img{
                        position: absolute;
                        top: 14px;
                        left: 7px;
                    }
                }
            }
        }
    }
}

.letter{
    width: 1200px;
    height: 52px;
    margin: 0 auto;
    border-bottom:  2px solid #e65050;
    
    li{
        width: 170px;
        height: 50px;
        float: left;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        
    }
    .letters{
        margin-left: 37%;
        color: #e65050;
    }
}
.appraise{
    width: 1200px;
    height: 1835px;
    margin: 0 auto;
    .appraise1{
        float: left;
        width: 180px;
        height: 1835px;
        margin-right: 10px;
        
        h3{
            width: 170px;
            height: 43px;
            text-align: center;
            line-height: 3;
            color: #333;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
        }
        a{
            width: 170px;
            height: 28px;
            color: #333;
            font-size: 12px;
            display: block;
            line-height: 2.4;
            text-align: center;
            &:hover{
                color: #e65050;
            }
        }
        .app1{
                font-size: 14px;
                font-weight: 600;
        }
        .app2{
            border-bottom: 1px solid #dddddd;
        }
    }
     .appraise2{
        float: left;
        width: 800px;
        height: 1835px;
        margin-right: 10px;
        .app3{
            width: 800px;
            height: 900px;
            vertical-align: bottom;
        }
    }
     .appraise3{
        float: left;
        width: 200px;
        height: 1835px;
        h3{
            width: 170px;
            height: 43px;
            text-align: center;
            line-height: 3;
            color: #333;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
        }
        .app4{
            width: 190px;
            height: 284px;
            .app5{
                width: 190px;
                height: 234px;
                .app55{
                    width: 190px;
                    height: 190px;
                    margin-top: 20px;
                }
            }
            .app6{
                width: 180px;
                height: 24px;
                p{
                    color: #333;
                    font-size: 12px;
                    width: 127px;
//                  height: 18px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    float: left;
                }
                .app66{
                    width: 18px;
                    height: 13px;
                    float: left;
                    margin-left: 35px;
                }
            }
            .app7{
                width: 180px;
                height: 24px;
                p{
                   width: 180px;
                    height: 24px;
                    font-size: 12px;
                    color: #ee4242;
                    span{
                        font-size: 12px;
                        color: #bbbbbb;
                        margin-left: 109px;
                    }
                    
                }
            }
        }
    }
}

//footer
.footers{
    width: 100%;
    height: 238px;
    background: #eee;
    
    .footer{
    width: 1200px;
    height: 238px;
    margin: 0 auto;
        .footer1{
            float: left;
            width: 630px;
            height: 238px;
//          background: skyblue;
            .website{
                color: #333;
                font-size: 12px;
                height: 36px;
                width: 630px;
                display: block;
                margin-top: 20px;
               
            }
            .tubiao img{
                width: 128px;
                height: 47px;
                margin-bottom: 20px;
            }
            .number{
                p{
                    font-size: 12px;
                    color: #999;
                    margin-top: 3px;
                    a{
                        color: #333;
                    }
                    
                }
                .ico_beian{
                    position: relative;
                    img{
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    
                    }
                    a{
                        position: absolute;
                    top: 6px;
                    left: 25px;
                    }
                }
                
            }
        }
        .footer2{
            float: left;
            width: 410px;
            height: 238px;
//          background: violet;
            li{
                font-size: 12px;
                color: #999;
                margin-top: 20px;
            }
        }
        .footer3{
            float: left;
            width: 160px;
            height: 238px;
            background: #e65050;
            .footerapp{
                width: 160px;
                height: 198px;
                margin-top: 30px;
                
                img{
                    width: 114px;
                    height: 114px;
                    margin: 0 auto;
                    display: block;
                }
                p{
                    font-size: 12px;
                    color: white;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}
