@import 'common.scss';
html,body{
//  height: 10000px;
}
#head{
        
       background: url(../img/1.jpg) no-repeat center;
        min-width: 1200px;
        max-width: 100%;
        display: block;
        min-height: 80px;
        position: relative;
        img{
            position: absolute;
            right: 64px;
            top: 5px;
            cursor: pointer;
        }
    
}
#header{
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
    #header-bar{
    width: 1200px;
    height: 36px;
    background: #f1f1f1;
    
    margin: 0 auto;
    #head-left{
        position: relative;
        
        .hide{
                   width: 90px;
                   height: 140px;
                   z-index: 666;
                   position: absolute;
                   top: 36px;
                   left: -1px;
                   border: 1px solid #dfdfdf;
                   display: none;
                   border-top: 1px solid white;
                   a{
                       width: 90px;
                       height: 28px;
                       display: block;
                       img{
                           margin-left: 20px;
                       }
                       &:hover{
                           color: #EE4242;
                       }
                       
                   }
               }
               .hide2{
                   width: 96px;
                   height: 112px;
                   z-index: 666;
                   position: absolute;
                   top: 36px;
                   left: 91px;
                   border: 1px solid #dfdfdf;
                 display: none;
                   border-top: 1px solid white;
                   a{
                       width: 96px;
                       height: 28px;
                       display: block;
                       margin-left: 10px;
                       &:hover{
                           color: #EE4242;
                       }
                       
                   }
               }
        .someone{
                height: 36px;
                 width: 62px;
                 display: inline-block;
                float: left;
                margin-right: 30px;
           
                
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
            .someones{
                margin-right: 4px;
            }
        }
        
        .sometwo{
                height: 36px;
              width: 64px;
                   float: left;
                 display: inline-block;
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
        }
        
        a{
             font-size: 12px;
            color: #333333;
            line-height: 36px;
            i{
                color: #888888;
            }
        }
       
    }
     #head-right{
        float: right;
        position: relative;
        
        .fourhide{
            position: absolute;
            top: 36px;
            right: 56px;
            width: 92px;
            height: 28px;
            border: 1px solid #dfdfdf;
            border-top: 1px solid white;
            display: none;
            a{
                color: #333333;
                font-size: 12px;
                text-align: center;
                display: block;
                line-height: 28px;
            }
        }
        .fivehide{
            position: absolute;
            top: 36px;
            right:-21px;
            width: 92px;
            height: 28px;
            border: 1px solid #dfdfdf;
            border-top: 1px solid white;
            display: none;
            a{
                color: #333333;
                font-size: 12px;
                text-align: center;
                display: block;
                line-height: 28px;
            }
        }
        .threehide{
            z-index: 888;
            position: absolute;
            top: 37px;
            left: -23px;
            display: none;
            img{
                width: 122px;
                height: 138px;
            }
        }
        .somethree img{
            margin-right: 4px ;
            position: absolute;
            left: -15px;
            top: 10px;
        }
        .somethree{
            &:hover{
                color: #EE4242;
            }
        }
        .somesix{
            &:hover{
                color: #EE4242;
            }
        }
        .deng{
            color: #EE4242;
            &:hover{
                text-decoration: underline;
            }
        }
        .somefour{
                height: 36px;
                 width: 64px;
                 display: inline-block;
                 
                 
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
        }
        .somefive{
                 height: 36px;
                 width: 64px;
                 display: inline-block;
            &:hover{
                background: #FFFFFF;
                color: #EE4242;
            }
        }
        
        a{
             font-size: 12px;
            color: #333333;
             line-height: 36px;
             margin-right: 8px;
             i{
                color: #888888;
            }
        }
    }
}
}

#soso{
    width: 1200px;
    height: 76px;
    margin: 0 auto;
//  background: beige;
    margin-top: 50px;
    margin-bottom: 30px;
    .so1{
        float: left;
        width: 414px;
        height: 76px;
    }
    .so2{
        float: left;
        width: 660px;
        height: 76px;
        .so2_1{
            width: 510px;
            height: 40px;
            border: 2px solid #163672;
            position: relative;
            #so2input{
                width: 440px;
                height: 21px;
                vertical-align: bottom;
                outline: none;
                border: none;
                margin: 10px;
            }
            #so2input1{
                width: 50px;
                height: 40px;
                background: #163672;
                border: none;
                vertical-align: bottom;
                outline: none;
                margin-bottom: 1px;
            }
            img{
                position: absolute;
                top: 10px;
                right: 12px;
                cursor: pointer;
            }
        }
        .so2_2{
            a{
                font-size: 12px;
                color: #666;
                margin-right: 6px;
            }
            b{
                font-size: 12px;
                color: #666;
                margin-right: 4px;
                font-weight: normal;
            }
            .d1{
                color: #F35942;
                &:hover{
                    text-decoration: underline;
                }
            }
            .d2{
               
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .so3{
        float: left;
        width: 124px;
        line-height: 44px;
        background: #ECECEC;
        text-align: center;
        position: relative;
        i{
            font-size: 22px;
           
            margin-right: 16px;
            padding: 10px 10px;
            color: #333157;
            background: #fff;
            margin-left: -10px;
        }
        em{
            color: #666;
            font-size: 16px;
            width: 48px;
            height: 32px;
            font-style: normal;
        }
        b{
            position: absolute;
            top: -10px;
            left: 15px;
            display: block;
            padding: 4px;
            border-radius: 10px;
            line-height: 8px;
            color: #fff;
            background-color: #ee4242;
            font-size: 12px;
            font-weight: normal;
        }
    }
}
#navs{
    width: 100%;
    border-bottom: 2px solid #163672;
#nav{
    width: 1200px;
    height: 45px;
//  background: antiquewhite;
    margin: 0 auto;
    .nav_w{
        float: left;
        width: 160px;
        line-height: 45px;
        background: #163672;
        text-align: center;
        position: relative;
        &:hover .lie{
            display: block;
        }
        .lie{
            position: absolute;
            top: 47px;
            left: 0;
            width: 160px;
            height: 520px;
            background: rgba(22,54,114,.9);
            display: none;
            .mu{
                position: relative;
                .lie1{
                    width: 1000px;
                    height: 500px;
//                  background: bisque;
                    position: absolute;
                    top: 0;
                    left: 160px;
                    display: none;
                    .lieul{
                        width: 1000px;
                        height: 45px;
                        border-bottom: 1px dashed #dddddd;
                        .naifen{
                            font-size: 14px;
                            color: #333;
                            font-weight: 700;
                            margin: 0 8px;
                           &:hover{
                               color: #ed4242;
                           }
                        }
                        .duan{
                            font-size: 12px;
                            margin: 0 4px;
                            color: #333;
                            &:hover{
                               color: #ed4242;
                           }
                        }
                    .lie2{
                        float: left;
                        
                        
                    }
                    }
                    
                }
            }
            .shang{
              width: 160px;
                height: 40px;
                &:hover{
                    background: #ffffff;
                    box-shadow: -3px 0 2px #eaeaea,inset -3px 0 2px #eaeaea;
                }
                &:hover .shang1{
                    color: #333333;
                    
                }
                .shang1{
                    font-size: 14px;
                    color: #f2f2f2;
                    margin-left: -35px;
                }
                &:hover .lie1{
                    display: block;
                }
            }
            
            //2
            .mu2{
                position: relative;
                .lie12{
                    width: 1000px;
                    height: 500px;
//                  background: bisque;
                    position: absolute;
                    top: -40px;
                    left: 160px;
                    display: none;
                    .lieul2{
                        width: 1000px;
                        height: 45px;
                        border-bottom: 1px dashed #dddddd;
                        .naifen2{
                            font-size: 14px;
                            color: #333;
                            font-weight: 700;
                            margin: 0 8px;
                           &:hover{
                               color: #ed4242;
                           }
                        }
                        .duan2{
                            font-size: 12px;
                            margin: 0 4px;
                            color: #333;
                            &:hover{
                               color: #ed4242;
                           }
                        }
                    .lie22{
                        float: left;
                        
                        
                    }
                    }
                    
                }
            }
            .shang2{
              width: 160px;
                height: 40px;
                &:hover{
                    background: #ffffff;
                    box-shadow: -3px 0 2px #eaeaea,inset -3px 0 2px #eaeaea;
                }
                &:hover .shang12{
                    color: #333333;
                    
                }
                .shang12{
                    font-size: 14px;
                    color: #f2f2f2;
                    margin-left: -35px;
                }
                &:hover .lie12{
                    display: block;
                }
            }
            //
        }
        h3{
            font-size: 14px;
            font-weight: 500;
            color: #fff;
//          padding-left: 26px;
            i{
                margin-right: 10px;
            }
        }
    }
    .nav_q{
        float: left;
        height: 45px;
        .lifes{
            position: relative;
            &:hover .life{
                display: block;
            }
            .life{
                display: none;
                position: absolute;
                top: 45px;
                left: -18px;
                width: 120px;
                height: 135px;
                background: #fff;
                border: solid 1px #dfdfdf;
                z-index: 5555;
                a{
                    width: 120px;
                    height: 45px;
                    display: block;
                    color: #333;
                    font-size: 14px;
                    &:hover{
                        color: #ed4242;
                    }
                }
            }
        }
        
        #globals{
//          position: relative;
//          &:hover #global{
//              display: block;
//          }
            #global{
                display: none ;
                position: absolute;
                top: 45px;
                left: -10px;
                width: 108px;
                height: 368px;
                background: #fff;
                z-index: 5555;
                li{
                    width: 108px;
                    height: 46px;

                }
            }
        }
        .lili{
            float: left;
            text-align: center;
            width: 96px;
            height: 45px;
            line-height: 45px;
            position: relative;
            .aa{
                font-size: 14px;
                color: #333;
                display: block;

                   .hotimg{
                       position: absolute;
                       top: -5px;
                       left: 28px;
                   }
                   .hotimg2{
                       position: absolute;
                       top: -5px;
                       left: 30px;
                   }
                   .newimg{
                       position: absolute;
                       top: -5px;
                       left: 40px;
                   }
                   
                       &:hover{
                           color: #ee4242;
                       
                   }
                
            }
        }
    }
}
}

//second
#second{
    width: 1349px;
    height: 600px;
    background: url(../img/reg.gif) no-repeat center;
    position: relative;
    #secongbox{
        width: 380px;
        height: 400px;
        background: white;
        position: absolute;
        top: 50px;
        right: 75px;
        #mailphone{
            width: 314px;
            height: 45px;
            margin-top: 20px;
                margin-left: 30px;
            li{
                float: left;
                .meils{
                    
                    border-bottom: 2px solid #ed4242;
                    z-index: 999;
                    box-sizing: border-box;
                    
                }
                .phones{
                    margin-left: 20px;
                    border-bottom: 2px solid transparent;
                    box-sizing: border-box;
//                  border: none;
                }
//              .acc{
//                  border:none ;
//              }
//              .add{
//                  border-bottom: 2px solid #ed4242;
//              }
                a{
                    color: #999;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 45px;
                    text-align: center;
                }
            }
        }
        #mailbox{
            .textpass{
                width: 314px;
                line-height: 40px;
                margin-left: 30px;
                margin-top: 20px;
                border: 1px solid #e5e5e5;
                box-sizing: border-box;
                border-radius: 6px;
                
                input{
                    width: 300px;
                    line-height: 36px;
                    margin-left: 8px;
                    border: none;
                     box-sizing: border-box;
                    outline: none;
                }
                      .redpng{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 7px;
                    right: -31px;
                    z-index: 99999;
                    display: inline-block;
                    display: none;
                }
            }
            .pass1{
                width: 314px;
                height: 20px;
                margin-left: 30px;
                font-size: 8px;
                color: #ee4242;
                display: none;
            }
            .textpass1{
                width: 314px;
                line-height: 20px;
                margin-left: 30px;
                font-size: 10px;
                margin-top: 6px;
                
                input{
                    vertical-align: middle;
                }
            }
            .textpass2{
                width: 314px;
                height: 45px;
                margin-left: 30px;
                margin-top: 10px;
                input{
                    width: 314px;
                    height: 45px;
                    border: none;
                    background: #ed4242;
                    border-radius: 10px;
                    color: white;
                    font-size: 18px;
                    outline: none;
                }
            }
            .textpass3{
                width: 314px;
                height: 26px;
                margin-left: 40px;
                margin-top: 20px;
                p{
                    font-size: 10px;
                }
            }
        }
        
        //
        #mailbox1{
            .textpass1{
                width: 314px;
                line-height: 40px;
                margin-left: 30px;
                margin-top: 20px;
                border: 1px solid #e5e5e5;
                box-sizing: border-box;
                border-radius: 6px;
                
                input{
                    width: 300px;
                    line-height: 36px;
                    margin-left: 8px;
                    border: none;
                     box-sizing: border-box;
                    outline: none;
                }
                      .redpng1{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 7px;
                    right: -31px;
                    z-index: 99999;
                    display: inline-block;
                    display: none;
                }
            }
            .pass11{
                width: 314px;
                height: 20px;
                margin-left: 30px;
                font-size: 8px;
                color: #ee4242;
                display: none;
            }
            .textpass11{
                width: 314px;
                line-height: 20px;
                margin-left: 30px;
                font-size: 10px;
                margin-top: 6px;
                
                input{
                    vertical-align: middle;
                }
            }
            .textpass21{
                width: 314px;
                height: 45px;
                margin-left: 30px;
                margin-top: 10px;
                input{
                    width: 314px;
                    height: 45px;
                    border: none;
                    background: #ed4242;
                    border-radius: 10px;
                    color: white;
                    font-size: 18px;
                    outline: none;
                }
            }
            .textpass31{
                width: 314px;
                height: 26px;
                margin-left: 40px;
                margin-top: 20px;
                p{
                    font-size: 10px;
                }
            }
        }
    }
}


//footer
.footers{
    width: 100%;
    height: 238px;
    background: #eee;
    
    .footer{
    width: 1200px;
    height: 238px;
    margin: 0 auto;
        .footer1{
            float: left;
            width: 630px;
            height: 238px;
//          background: skyblue;
            .website{
                color: #333;
                font-size: 12px;
                height: 36px;
                width: 630px;
                display: block;
                margin-top: 20px;
               
            }
            .tubiao img{
                width: 128px;
                height: 47px;
                margin-bottom: 20px;
            }
            .number{
                p{
                    font-size: 12px;
                    color: #999;
                    margin-top: 3px;
                    a{
                        color: #333;
                    }
                    
                }
                .ico_beian{
                    position: relative;
                    img{
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    
                    }
                    a{
                        position: absolute;
                    top: 6px;
                    left: 25px;
                    }
                }
                
            }
        }
        .footer2{
            float: left;
            width: 410px;
            height: 238px;
//          background: violet;
            li{
                font-size: 12px;
                color: #999;
                margin-top: 20px;
            }
        }
        .footer3{
            float: left;
            width: 160px;
            height: 238px;
            background: #e65050;
            .footerapp{
                width: 160px;
                height: 198px;
                margin-top: 30px;
                
                img{
                    width: 114px;
                    height: 114px;
                    margin: 0 auto;
                    display: block;
                }
                p{
                    font-size: 12px;
                    color: white;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}
